<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--El arreglo que muestra el slider 
  son las url de las imagenes obtenidas 
  de la coleccion de imagenes en firebase-->
<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slideData">
      <div>
        <div>
          <ion-label>{{slide.titulo}}</ion-label>
          <ion-img [src]="slide.image_url" class="ion-padding"></ion-img>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
